<div class="container">
  <div class="row">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">S.N</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Description </th>
            <th scope="col">Product Image </th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
{{#each products}}
          <tr>
            <th scope="row">{{inc @index}}</th>
            <td>{{product_name}}</td>
            <td>{{des}}</td>
            <td><img src="/static/userImage/{{image}}" alt="ss" width="50px" height="50px"></td>
            <td>{{c_name}}</td>
            <td>{{Price}}</td>
            <td>
              <a href="/admin/product/edit/{{id}}/{{Category_ID}}">Edit</a>
              <a href="/admin/product/delete/{{id}}" class="del">delete</a>
             
            </td>
          </tr>
 {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>






<style>
  .container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}

table img{
  object-fit: contain;
}
table a{
  text-decoration: underline;
}

.del{
  color:rgb(161, 13, 13);
}

</style>
